RUN_ENV=production
DJANGO_SETTINGS_MODULE=project.configs.settings.production
DJANGO_ALLOWED_HOSTS=
DJANGO_SECRET_KEY=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_PORT=8000
DJANGO_HOST=0.0.0.0
DJANGO_DATABASE_URL=postgres://user:password@host:port/db_name
